body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: red;
    border: 1px solid gray;
}
main p {
    font-weight: bold;
}
p {
    border: 1px solid gray;
    text-align: justify;
    margin: 10pxs;
}
}
a {
    text-decoration: none;
    color: gray;
}
footer a{
    font-weight: bold;
}
main p a:hover {
    text-decoration: underline;
}