section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

section h1 {
    text-align: center;
    font-size: 50px;
    color: black;
    margin-bottom: 30px;
}

section img {
    border: 2px;
    padding: 15px;
    border-radius: 5px;
    float: left;
    margin right: 20px;
}

section p {
    
    text-align: right;

}
